.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

.env
*.env
!.env.example

.DS_Store
.idea/
.vscode/
*.swp

services/rag/vectorstore_faiss/*
!services/rag/vectorstore_faiss/.gitkeep
services/rag/.rag_s3_tmp/

Dockerfile
docker-compose.yml
